@{
    ViewData["Title"] = "Home Page";

    string genders = Swapp.Data.Helper.JSonCamelSerializeObject(
                                (from k in Enum.GetValues(typeof(AnahitaProp.Data.Gender)).Cast<AnahitaProp.Data.Gender>()
                                 select new
                                 {
                                     key = (int)k
                                 }).ToArray());
}



@section Styles {
    <environment names="Development">
        <link href="~/dist/main.css" rel="stylesheet" swp-cache-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/dist/main.min.css" rel="stylesheet" swp-cache-version="true" />
    </environment>
}

@section Scripts {

    <script>

        Number.prototype.format =
            function (n, x) {

                var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';

                return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
            };

        var GlobalValues = {

            constants: {

                FLAG_NUM_BEDROOMS_REF: '@(AnahitaProp.Data.Models.Flag.NUM_BEDROOMS_REF)',
                FLAG_OPTION_ROOM_DEN: '@(AnahitaProp.Data.Models.Flag.OPTION_ROOM_DEN)',
                FLAG_VIEW_REF: '@(AnahitaProp.Data.Models.Flag.VIEW_REF)',

                PRODFAMILY_VILLA_VALUE: '@(AnahitaProp.Data.Models.ProductFamilyType.VILLA_VALUE)',
                PRODFAMILY_APPARTMENT_VALUE: '@(AnahitaProp.Data.Models.ProductFamilyType.APPARTMENT_VALUE)',
                PRODFAMILY_LAND_VALUE: '@(AnahitaProp.Data.Models.ProductFamilyType.LAND_VALUE)',
            },
            enumValues: {

                genders: @Html.Raw(genders),
            },
            versions: {

                langVersion: '@(this.GetViewData<string>("LangVersion"))',
                cacheVersion: '@(this.GetViewData<string>("CacheVersion"))',
                dbVersion: '@(this.GetViewData<string>("DbVersion"))',
                countriesVersion: '@(this.GetViewData<string>("CountriesVersion"))',
            }
        };

    </script>

    @foreach (var keyPair in this.GetViewData<KeyValuePair<string, int>[]>("LookupVersions"))
    {
        <script>
            GlobalValues.versions['@keyPair.Key'] = '@keyPair.Value';
        </script>
    }

    <environment names="Development">
        <script src="~/dist/main.js" swp-cache-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/main.min.js" swp-cache-version="true"></script>
    </environment>
}


@Html.AntiForgeryToken()
<div id="react-root" style="width:100%;height:100%;"></div>